@"
TARGET_HOST=http://host.docker.internal

IEDUCAR_USER=admin
IEDUCAR_PASS=admin

IEDUCAR_COD_INSTITUICAO=1

TEST_DURATION=60s

SPAWN_RATE=5
"@ | Set-Content "C:\Users\Usuario\Teste i-educar\.env.example" -Encoding UTF8